

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject IHttpContextAccessor Accessor
<div class="text-center">
    @{
        string userkey = Context.Session.GetString("Name");

        if (string.IsNullOrEmpty(userkey) == false)
        {
            string username = JsonConvert.DeserializeObject<string>(userkey);
            <h1 class="display-4">Welcome @username</h1>
        }
        else
        {
            <h1 class="display-4">Welcome</h1>
        }
     }
    
    <p>This is a website made to keep track of your job applications.</a>.</p>
    <div class="col">
        <h4>Different job billboard websites</h4>
        <a href="https://linkedin.com"><img src="images/linkedin.png" alt="linkedin" style="width:128px;height:128px" /></a>
        <a href="https://indeed.com"><img src="images/indeed.png" alt="indeed" style="width:128px;height:128px" /></a>
        <a href="https://arbetsformedlingen.se/platsbanken/"><img src="images/platsbanken.png" alt="platsbanken" style="width:128px;height:128px" /></a>
    </div>
</div>
